@laTech: '../images/laTech.jpg';
.parallax {
  /* The image used */
  background-image: url(@laTech);
  /* Set a specific height */
  min-height: 550px;
  padding-top: 130px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: color;
  background-size: cover;
}
