@import 'header.less';
@primary: #2196f3;
@primaryLight: #4dabf5;
@primaryDark: #1769aa;
@secondary: #ff1744;
@secondaryLight: #ff4569;
@secondaryDark: #b2102f;
body {
  //margin: auto;
  background-color: @primaryDark;
}
